Source: sodium
Maintainer: cmotc cmotc@openmailbox.org
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 8), devscripts, build-essential

Package: libsodium
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Homepage: https://libsodium.org
Description: libsodium

Package: libsodium-dev
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libsodium(= )
Homepage: https://libsodium.org
Description: libsodium development files
